/* ################################### */
/* ## CSS of the Challenges section ## */
/* ################################### */

.challenges-page {
  background-color: black;
  color: white;
}

.challenges-page .menu-links {
  text-decoration: none;
  color: white;
}

.challenges-page .menu-links:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.chall {
  border: solid white 2px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: white;
  align-items: center;
  cursor: pointer;
}

.chall img {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
  margin-right: 10px;
}

.chall:hover {
  background-color: white;
  color: black;
}

.modal-content {
  color: black;
  font-size: 1.5em;
  border: solid white 2px;
}

.modal-title{
  font-family: 'Londrina Solid', cursive;
  font-size: 2em;
}

.modal-header, .modal-footer{
  background-color: black;
  color: white;
  text-align: center;
  border: 0px;
}

.modal-header .close {
  margin: 0;
  float: right;
  opacity: 1;
  padding: 0px;
}

.modal-header .close:hover {
  opacity: 0.5;
}

.modal-body {
  padding-top: 50px;
  padding-bottom: 50px;
  border: solid black 4px;
}

.key-field {
  flex-grow:1;
}

.key-field.invalid {
    border: solid coral 3px;
    border-radius: 5px;
    /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
}

/* also need keyframes and -moz-keyframes */
@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

/* ################################### */
