
/* ################################### */
/* ########### Global CSS ############ */
/* ################################### */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Athiti';
  font-size: 1em;
  background-color: white;
  color: black;
}

h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 4em;
  margin-bottom: 50px;
}

img {
  margin: 5px;

  /*Animations*/
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu-bar {
  font-size: 2em;
  height: 130px;
}

.menu-bar img {
  cursor: pointer;
}

/* blinking cursor */
#cursor {
  display: inline-block;
  background: black;
  -webkit-animation: blink 1s infinite;
  width: 15px;
  height: 30px;
}

@-webkit-keyframes blink {
  0% {background: black}
  50% {background: white}
  100% {background: black}
}

/* ################################### */
/* ######### Logo Transition ######### */
/* ################################### */
#svg-transition-in {
  z-index: 100;
  position: absolute;
  margin: auto;
  top: -7800px;
  left: -9550px;
  width: 20000px;

  -webkit-transform: scale(0.0000001);
  -webkit-transform-origin: 52.5% 37%;
  
  /*Animations*/
  -webkit-transition: 2s cubic-bezier(1, 0, 1, 0.5);
  /*-moz-transition: 5s;
  -o-transition: 5s;
  transition: 5s;*/
}

#svg-transition-in.transition {
  -webkit-transform: scale(1);
}
/* ################################### */

#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.btn-black {
  text-decoration: none;
  background-color: black;
  color: white;
  border: solid white 2px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-black:hover {
  text-decoration: none;
  filter: invert(1);
  /*background-color: white;
  color: black;*/
}

.btn-white {
  text-decoration: none;
  background-color: white;
  color: black;
  border: solid black 2px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-white:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

#fiches-box {
  transition: 0.5s;
}

.box-cat {
  border: solid black 2px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: black;
}

.box-cat img {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
  margin-right: 10px;
  filter: invert(1);
}

.cat-title {
  padding-right: 10px;
  cursor: pointer;
}

.cat-title:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.cat-links a {
  text-decoration: none;
  background-color: black;
  border-radius: 5px;
  margin: 5px;
  margin-left: 60px;
  padding-left: 5px;
  color: white !important;
  font-size: 1.5em;
  cursor: pointer;
}

.cat-links a:hover {
  background-color: white;
  color: black !important;
  border: solid black 2px;
  margin-bottom: 1px;
}

.full-box {
  width: 50%;
}

.side-box {
  position: absolute;
  width: 350px;
  left: 20px;
}

.side-box-fixed {
  position: fixed;
  top: 40px;
}

.fsm {
  position:relative;
  border: solid black 2px;
  border-radius: 10px;
  width: 300px;
  padding: 30px;
  margin: 10px;
  background-color: white;
  color: black;
  cursor: pointer;

  /*Animations*/
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fsm .fsm_corner {
position: absolute;
top: 0;
right: 0;
width: 2em;
height: 2em;
background-color: #8a8a8b;
}

.fsm .fsm_corner .fsm_corner-triangle {
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 2em 2em 0;
border-color: transparent #000 transparent transparent;
}

.fsm:hover img{
  margin: 0px;
  width: 110px;
}

/* ################################### */

/* ############# Footer ############## */
.footer {
  position: static;
  display: block;
  
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 1rem;
  text-align: center;
}
/* ################################### */
